<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Australian Cities</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/favorites']" routerLinkActive="router-link-active" >Favorites pictures <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <select class="form-control search-slt mr-3" id="exampleFormControlSelect1"
        #mySelect
            (change)="onChange(mySelect.value)"
        >
          <option  *ngFor="let city of cities; let i = index;" [value]="[i]"  >{{ city.name }}</option>
      </select> 
      
        <input class="form-control mr-sm-2" type="text" [value]="latitude" aria-label="Latitude" >
        <input class="form-control mr-sm-2" type="text" [value]="longitude" placeholder="Longtitude" aria-label="Longtitude">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click) = "onClick()"
        >Search</button>
      </form>
    </div>
  </nav>
 

  